<footer class="Foot">

    <div class="Container u-cf">

        <ul class="list-inline Social">
            <li class="Social__facebook">
                <a href="https://www.facebook.com/gradualpeak">
                    <span class="u-hiddenVisually">Facebook</span>
                </a>
            </li>
            <li class="Social__twitter">
                <a href="https://twitter.com/gradualpeak">
                    <span class="u-hiddenVisually">Twitter</span>
                </a>
            </li>
            <li class="Social__linkedin">
                <a href="https://uk.linkedin.com/pub/mike-anderson-bsc-hons-edin-ceng-mice/27/385/423">
                    <span class="u-hiddenVisually">linkedIn</span>
                </a>
            </li>
            <li class="Social__instagram">
                <a href="http://instagram.com/gradualpeak">
                    <span class="u-hiddenVisually">Instagram</span>
                </a>
            </li>
        </ul>
        <small class="Foot__copy">
            &copy; Copyright <script>var theDate = new Date(); document.write(theDate.getFullYear())</script><br>
            Website by <a href="http://thecodecave.co.uk">The Code Cave.</a>
        </small>

    </div>

</footer>
