<div id="nav" class="Nav-fullscreen">
    <div class="Nav-fullscreen__content">

        <div class="Grid">
            <div class="Grid__cell u-md-size1of2">

                <h2 class="Nav-fullscreen__title">Navigation</h2>
                {% include nav.html %}

            </div>
            <div class="Grid__cell u-md-size1of2">

                <div class="vcard">
                    <ul class="list-unstyled vcard__list">
                        <li class="email"><a href="mailto:gradpeak@aol.com">gradpeak@aol.com</a></li>
                        <li class="tel">
                            <div class="phone">T: 01334 828800</div>
                        </li>
                        <li class="adr">
                            <div class="fn org">Gradual Peak Ltd</div>
                            <div class="street-address">Cupar Road</div>
                            <div class="locality">Pitscottie</div>
                            <div class="region">Fife</div>
                            <div class="postal-code">KY15 5TB</div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- .Nav-fullscreen -->
