/* ==========================================================================
   LISTS
   ========================================================================== */

ol,
ul {
    margin-bottom: $-line-height;
}

/* Remove vertical spacing when nesting lists */

li {
    > ol,
    > ul {
        margin-bottom: 0;
    }
}

/* The `unstyled list` simply removes all styling on the list. */

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* The `inline list` a list of items in one line. */

.list-inline {
    @extend .list-unstyled;

    > li {
        display: inline-block;
    }
}

/**
 * Chunky UI list of info for Homepage
 */

.ui-list {
    margin-left: $-space--small;
}

.ui-list span {
    position: relative;
    display: block;
    margin: $-space--small 0;
    padding: 4px 4px 4px $-space;
    background-color: $-color-faint-gray;
    border-radius: 3px;
}

.ui-list span:before{
    content: " ";
    position: absolute;
    top: 50%;
    left: -18px;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    background-color: $-color-brand-green;
    border: 4px solid $-color-white;
    border-radius: 2em;
}
