/* ==========================================================================
   FOOT
   ========================================================================== */

.Foot {
    margin-top: $-space;
    padding-top: $-space;
    padding-bottom: $-space;
    background-color: $-background-shade;
    border-top: 1px solid $-border-color-light;

    @include media(sm) {
        margin-top: $-space--large;
        padding-top: $-space--large;
        padding-bottom: $-space--large;
    }

    .page--home &,
    .page--contact & {
        margin-top: 0;
        border-top: 0;
    }
}

.Foot__copy {
    display: block;
    text-align: center;

    @include media(sm) {
        float: right;
        text-align: right;
    }
}
