/* ==========================================================================
   HEAD
   ========================================================================== */

.Head {
    position: relative;
    margin-bottom: $-space;
    padding-top: $-space;
    padding-bottom: $-space;
    background-color: $-background-shade;
    border-bottom: 1px solid $-border-color-light;

    @include media(sm) {
        margin-bottom: $-space--large;
        padding-top: $-space--large;
        padding-bottom: $-space--large;
    }

    .page--home & {
        margin-bottom: 0;
        border-bottom: 0;
    }
}

.Head__logo {

    h1 {
        margin-bottom: 0;
        background-image: url(../../images/css/logo--small.png);
        background-repeat: no-repeat;

        @include media(x2) {
            background-image: url(../../images/css/logo--small@2x.png);
            background-size: 234px 20px;
        }

        @include media(sm) {
            background-image: url(../../images/css/logo.png);

            @include media(x2) {
                background-image: url(../../images/css/logo@2x.png);
                background-size: 354px 42px;
            }
        }

        a {
            display: block;
            width: 100%;
            height: 20px;

            @include media(sm) {
                width: 354px;
                height: 42px;
            }
        }
    }
}
