/* ==========================================================================
   VCARD
   ========================================================================== */

.vcard {

    .Nav-fullscreen & {
        margin-top: $-space;

        @include media(md) {
            margin-top: 120px;
            text-align: right;
        }
    }
}

.vcard__list {

    li {
        @include font-size(18px);
        margin-bottom: $-space;
        color: lighten($-color-gray, 25);
    }

    a {
        color: lighten($-color-gray, 40);
    }
}
