<nav class="Nav">

    <ul class="Nav__list">
        <!--
        <li class="Nav__item">
           <a href="/" class="Nav__link{% if page.url == '/index.html' %} is-active{% endif %}">Home</a>
        </li>
        -->
        <li class="Nav__item">
           <a href="/case-studies/" class="Nav__link{% if page.url == '/case-studies/' %} is-active{% endif %}">Case Studies</a>
        </li>
        <li class="Nav__item">
           <a href="/approach/" class="Nav__link{% if page.url == '/approach/' %} is-active{% endif %}">Our Approach</a>
        </li>
        <li class="Nav__item">
           <a href="/the-team/" class="Nav__link{% if page.url == '/the-team/' %} is-active{% endif %}">The Team</a>
        </li>
        <li class="Nav__item">
           <a href="/about/" class="Nav__link{% if page.url == '/about/' %} is-active{% endif %}">About us</a>
        </li>
        <li class="Nav__item">
           <a href="/contact/" class="Nav__link{% if page.url == '/contact/' %} is-active{% endif %}">Contact & map</a>
        </li>
    </ul>

</nav>
