/* ==========================================================================
   LINKS
   ========================================================================== */

a {
    color: $-link-color;
    text-decoration: none;
    transition: color .2s linear;

    @include ui-states {
        color: $-link-color-hover;
    }
}

.mailto {
    padding-bottom: 2px;
    color: $-link-color;
    border-bottom: 1px solid $-link-color;
}
