/* ==========================================================================
   CONTAINERS
   ========================================================================== */

.Container-page {
    position: relative;
    z-index: 2;

    /* fix bug on iOS */
    height: 100vh;
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;
    background-color: $-background-base;

    /* Force Hardware Acceleration in WebKit */
    transform: translateZ(0);
    backface-visibility: hidden;

    transition: transform .7s;

    .nav-is-active & {
        transform: translateX(-100%);
    }

    .no-js & {
        height: auto;
        overflow: visible;
    }
}

.Container {
    max-width: 90%;
    margin: 0 auto;

    @include media(sm) {
        max-width: 80%;
    }

    @include media(lg) {
        max-width: 70%;
    }
}

.Container--wide {
    max-width: 100%;

    @include media(lg) {
        max-width: 70%;
    }
}
