 /* ==========================================================================
   ANIMATION
   ========================================================================== */

.Animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
    animation-name: fadeIn;
}

.Animated--one {
    animation-delay: 0.25s;
}

.Animated--two {
    animation-delay: 0.5s;
}

.Animated--three {
    animation-delay: 0.75s;
}

.Animated--four {
    animation-delay: 1s;
}
