// =============================================================================
// Theme mapping
// =============================================================================

// Base
// =============================================================================

$-background-base: $-color-white;
$-color-base: $-color-black;
$-font-base: #{$-font-size}/#{($-line-height / $-font-size)} $-font-family;

$-font-weight-light: 300;
$-font-weight-bold: 700;

// Links
// =============================================================================

$-link-color: $-color-deep-green;
$-link-color-hover: $-color-light-green;

// Texture
// =============================================================================

$-brand-color: $-color-brand-green;

$-background-shade: $-color-faint-gray;
$-border-color: $-color-gray;
$-border-color-light: darken($-color-faint-gray, 5);

