// =============================================================================
// Theme definition
// =============================================================================

// This defines the theme in fundamental terms, but not how it is applied. That
// is done in `_theme_map.scss`.

// Breakpoints
// =============================================================================

$-breakpoints: (
    "xs": "screen and (max-width: 44.9375em)",
    "sm": "screen and (min-width: 45em)",
    "sm-sm": "screen and (min-width: 45em) and (max-width: 48em)",
    "md": "screen and (min-width: 62em)",
    "lg": "screen and (min-width: 86.375em)",
    "x2": "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
);

// Colors
// =============================================================================

$-color-brand-green: #579a3f;
$-color-white: #fff;
$-color-black: #333;

// Primary grays
$-color-dark-gray: #3e3d40;
$-color-gray: #4b4a4c;
$-color-light-gray: #e8e6ed;
$-color-faint-gray: #f6f5f8;

// Primary greens
$-color-deep-green: #499133;
$-color-light-green: #75ab57;

// Secondary colors
$-color-blue: #55acee;
$-color-orange: #ffac33;
$-color-purple: #9266cc;
$-color-red: #dd2e44;
$-color-yellow: #ffcc4d;

// Font
// =============================================================================

$-font-size: 16px;
$-font-family: 'Oxygen', sans-serif;
$-line-height: ($-font-size * 1.5);

$-heading-font-family: 'Advent Pro', sans-serif;

// Spacing
// =============================================================================

$-space: 24px;
$-space--small: ($-space / 2);
$-space--large: ($-space * 2);

